@model List<ElegantHome.Web.ViewModels.Conversation.ConversationViewModel>

@{
    ViewData["Title"] = "Conversations";
}

<div id="main-wrapper" class="section">
    @if (!Model.Any())
    {
        <h1 class="text-center margin-bottom-4rem margin-top-4rem">You have no conversations.</h1>
    }
    else
    {
        <h2 class="text-center margin-top-4rem margin-bottom-2rem">My Conversations</h2>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Ad Name</th>
                    <th scope="col">Buyer</th>
                    <th scope="col">Seller</th>
                    <th scope="col">Started On</th>
                    <th scope="col">Archive</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.Count(); i++)
                {
                    <tr class="element-with-date">
                        <td><a asp-controller="Message" asp-action="Chat" asp-route-conversationId="@Model[i].Id" class="conversation-page-element color-pink font-size-1-1rem">@Model[i].ProductName</a></td>

                        <td><a asp-controller="User" asp-action="Profile" asp-route-id="@Model[i].BuyerId" class="conversation-page-element color-pink">@Model[i].BuyerName</a></td>
                        <td><a asp-controller="User" asp-action="Profile" asp-route-id="@Model[i].SellerId" class="conversation-page-element color-pink">@Model[i].SellerName</a></td>
                        <td class="d-none">
                            <input style="display: none" type="text" class="utc-date" value="@Model[i].StartedOn" />
                        </td>
                        <td class="local-date">@Model[i].StartedOn</td>

                        <td>
                            <div class="button-holder">
                                <a asp-controller="Conversation" asp-action="Archive" asp-route-id="@Model[i].Id" class="btn btn-details">Archive</a>
                            </div>
                        </td>

                    </tr>
}
            </tbody>

        </table>}
    }
</div>