@model ElegantHome.Web.ViewModels.Product.ProductListViewModel

<!doctype html>
<html class="no-js" lang="en">

<body>

    <!-- Main Wrapper Start -->
    <div id="main-wrapper" class="section">

        <div class="hero-slider section fix">

            <!-- Hero Slide Item Start-->
            <div class="hero-item" style="background-image: url('/images/Big.jpg')">

                <!-- Hero Content Start-->
                <div class="hero-content text-center m-auto">

                    <h2></h2>
                    <h1>Summer Sale</h1>
                    <p>нкакъв текст да се добави</p>
                    <a href="#">LEARN MORE</a>

                </div><!-- Hero Content End-->


            </div><!-- Hero Slide Item End-->
            <!-- Hero Slide Item Start-->
            <div class="hero-item" style="background-image: url('/images/Big.jpg')">

                <!-- Hero Content Start-->
                <div class="hero-content text-center m-auto">

                    <h2>Save 25%</h2>
                    <h1>Christmas Sale</h1>
                    <p>Посетете ни и се обедете сами в нашите страхотни продукти.Опаковаме безплатно </p>
                    <a href="#">LEARN MORE</a>

                </div><!-- Hero Content End-->


            </div><!-- Hero Slide Item End-->

        </div><!-- Hero Slider End-->
        <!-- Banner Section Start-->
        <div class="banner-section section pt-120">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-12 mb-30">

                        <div class="single-banner">
                            <img src="/images/cvete.jpg" alt="banner">
                            <div class="banner-content right">
                                <h1 class="white"><span>Gifts</span>for you</h1>
                                <a href="#" class="button">Shop Now</a>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-6 col-12 mb-30">

                        <div class="single-banner">
                            <img src="images/drugo.jpg" alt="banner">
                            <div class="banner-content left">
                                <h2 class="black"><span class="small">Save <span class="red">25%</span></span><span class="red">Offer</span> Summer</h2>
                                <a href="#" class="link">Shop Now</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div><!-- Banner Section End-->
        <!-- Product Section Start-->
        <div class="product-section section pt-70 pb-60">
            <div class="container">

                <!-- Section Title Start-->
                <div class="row">
                    <div class="section-title text-center col mb-60">
                        <h1>Futured Products</h1>
                    </div>
                </div><!-- Section Title End-->
                <!-- Product Wrapper Start-->
                <div class="row">
                   @foreach(var item in Model.Products.OrderByDescending(x=>x.Name).Take(9))
                   {
                       <div class="col-lg-4 col-md-6 col-12 mb-60">

                           <div class="product">

                               <!-- Image Wrapper -->
                               <div class="image">
                                   <!-- Image -->
                                   <a asp-controller="Products" asp-action="Details" asp-route-productId="@item.Id" class="img"><img src="@item.ImageUrl" weight="370" height="440" alt="Product"></a>
                                   <!-- Wishlist -->

                                   @*<a asp-controller="User" asp-action="AddToWishlist" asp-route-productId="@item.Id" class="wishlist"><i class="fa fa-heart-o"></i></a>*@
                                   <!-- Label -->
                                   <span class="label" style="color: #E11515"><b>Ново</b></span>
                               </div>

                               <!-- Content -->
                               <div class="content">

                                   <!-- Head Content -->
                                   <div class="head fix">

                                       <!-- Title & Category -->
                                       <div class="title-category float-left">
                                           <a asp-controller="Products" asp-action="Details" asp-route-productId="@item.Id"><h5>@item.Name</h5></a>
                                           <a href="shop.html" class="category" style="color: #e11515"><b>@item.CategoryName</b></a>
                                       </div>
                                       <!-- Price -->
                                       <div class="price float-right">
                                           <span class="new">$@item.Price</span>
                                           <!-- Old Price Mockup If Need -->
                                           <!-- <span class="old">$46</span> -->
                                       </div>

                                   </div>

                                   <!-- Action Button -->
                                   <div class="action-button fix">
                                       <a href="#">add to cart</a>
                                   </div>

                               </div>

                           </div>

                       </div>

                   }

                </div><!-- Product Wrapper End-->

            </div>
        </div><!-- Product Section End-->
        <!-- Testimonial Section Start-->
        <div class="testimonial-section section bg-gray pt-100 pb-65" style="background-image: url('/images/pink-organic-shape-background_53876-97811.jpg')">
            <div class="container">

                <!-- Section Title Start-->
                <div class="row">
                    <div class="section-title text-center col mb-60">
                        <h1>Customer Reviews</h1>
                    </div>
                </div><!-- Section Title End-->

                <div class="row">
                    <div class="col-lg-8 col-md-10 col-12 ml-auto mr-auto">

                        <!-- Testimonial Slider Start -->
                        <div class="testimonial-slider text-center">

                            <!-- Single Testimonial -->
                            <div class="single-testimonial">
                                <img src="img/testimonial/1.jpg" alt="customer">
                                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system.</p>
                                <h5>Betty Moore</h5>
                            </div>

                            <!-- Single Testimonial -->
                            <div class="single-testimonial">
                                <img src="img/testimonial/1.jpg" alt="customer">
                                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system.</p>
                                <h5>Betty Moore</h5>
                            </div>

                            <!-- Single Testimonial -->
                            <div class="single-testimonial">
                                <img src="img/testimonial/1.jpg" alt="customer">
                                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system.</p>
                                <h5>Betty Moore</h5>
                            </div>

                        </div><!-- Testimonial Slider End -->

                    </div>
                </div>

            </div>
        </div><!-- Testimonial Section End-->
        <!-- Newsletter Section Start-->
        <div class="newsletter-section section pt-100 pb-120">
            <div class="container">

                <!-- Section Title Start-->
                <div class="row">
                    <div class="section-title text-center col mb-55">
                        <h1>Newsletter</h1>
                        <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
                    </div>
                </div><!-- Section Title End-->

                <div class="row">
                    <div class="text-center col">

                        <!-- Newsletter Form -->
                        <form action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="subscribe-form validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                                <label for="mce-EMAIL" class="d-none">Subscribe to our mailing list</label>
                                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your email address" required>
                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef" tabindex="-1" value=""></div>
                                <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="button">subscribe</button>
                            </div>
                        </form>

                    </div>
                </div>

            </div>
        </div><!-- Testimonial Section End-->
        <!-- Blog Section Start-->
        <div class="blog-section section bg-gray pt-100 pb-60">
            <div class="container">

                <!-- Section Title Start-->
                <div class="row">
                    <div class="section-title text-center col mb-60">
                        <h1>Summer Blog</h1>
                    </div>
                </div><!-- Section Title End-->

                <div class="row">

                    <!-- Blog Item Start-->
                    <div class="blog-item col-lg-4 col-md-6 col-12 mb-60">

                        <!-- Image -->
                        <a href="blog-details.html" class="image"><img src="img/blog/1.jpg" alt="blog"></a>

                        <!-- Content -->
                        <div class="content fix">

                            <!-- Publish Date -->
                            <span class="publish"><span>Published on:</span> 25 May 2017</span>

                            <!-- Title -->
                            <h4 class="title"><a href="blog-details.html">If you are going to use a passage.</a></h4>

                            <!-- Decs -->
                            <p>If you are going to use a passage of Lorem Ipsum, yneed to be sure there isn't anything embarrassing hidden ithe middle text. All the Lorem Ipsum.</p>

                            <!-- Read More Link -->
                            <a href="blog-details.html" class="read-more">Read More</a>

                        </div>

                    </div><!-- Blog Item End-->
                    <!-- Blog Item Start-->
                    <div class="blog-item col-lg-4 col-md-6 col-12 mb-60">

                        <!-- Image -->
                        <a href="blog-details.html" class="image"><img src="img/blog/2.jpg" alt="blog"></a>

                        <!-- Content -->
                        <div class="content fix">

                            <!-- Publish Date -->
                            <span class="publish"><span>Published on:</span> 25 May 2017</span>

                            <!-- Title -->
                            <h4 class="title"><a href="blog-details.html">Ut enim ad minima veniam, quis.</a></h4>

                            <!-- Decs -->
                            <p>If you are going to use a passage of Lorem Ipsum, yneed to be sure there isn't anything embarrassing hidden ithe middle text. All the Lorem Ipsum.</p>

                            <!-- Read More Link -->
                            <a href="blog-details.html" class="read-more">Read More</a>

                        </div>

                    </div><!-- Blog Item End-->
                    <!-- Blog Item Start-->
                    <div class="blog-item col-lg-4 col-md-6 col-12 mb-60">

                        <!-- Image -->
                        <a href="blog-details.html" class="image"><img src="img/blog/3.jpg" alt="blog"></a>

                        <!-- Content -->
                        <div class="content fix">

                            <!-- Publish Date -->
                            <span class="publish"><span>Published on:</span> 25 May 2017</span>

                            <!-- Title -->
                            <h4 class="title"><a href="blog-details.html">At vero eos et accusamus et iusto</a></h4>

                            <!-- Decs -->
                            <p>If you are going to use a passage of Lorem Ipsum, yneed to be sure there isn't anything embarrassing hidden ithe middle text. All the Lorem Ipsum.</p>

                            <!-- Read More Link -->
                            <a href="blog-details.html" class="read-more">Read More</a>

                        </div>

                    </div><!-- Blog Item End-->

                </div>

            </div>
        </div><!-- Blog Section End-->

    </div>

</body>

</html>